# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. JavaScript

Some of the commonly used libraries used by Data Scientists include:

- In Python:
    - pandas
    - tensorflow
    - matplotlib
    - seaborn
- In R:
    - dplyr
    - ggplot
    - caret

##### Data Science Tools:

| Tools | Company |
|-|-|
| Tableau | Salesforce |
| Power BI | Microsoft |
| Python | Open Source |
| R | R Studio |
| Excel | Microsoft |
| Power Query | Google |

### Below are a few examples of evaluating arithmetic expressions in Python

- 1 + 1 = 2
- 1 - 1 = 0
- 1 * 1 = 1
- 1 ** 1 = 1
- 1 // 1 = 1

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = float(input("Minutes: ")) #If the input is equal to 250, for example
hours = minutes / 60
print(str(minutes) + " minutes is equal to " + str(hours) + " hours")

Minutes:  250

250.0 minutes is equal to 4.166666666666667 hours

**Objectives**

- List popular languages for Data Science
- List popular tools for Data Science
- Create Tables
- Add comments to the code
- Do arithmetic operations

## Author
Jos√© Juan Sanz de Andino